/* Module Custom Styles */

.moduleInstructions {
    text-align: center;
    color: #555;
    margin-bottom: 25px;
}

.footerInstructions {
    text-align: center;
    color: #555;
    margin-top: 20px;
}